
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: "Roboto";
    display: flex;
    flex-direction: column;
}


/* Top Content styling starts here*/

.hero-container{
    display: flex;
    background-color: #1f2937;
    
    flex-direction: column;
    flex: 1;
    padding: 20px 20px 100px 20px;
}

/* Header Styling and Layout*/
.header-container{

    display:flex;
    
    justify-content: space-around;
    margin-bottom: 100px;
    
}

.header-container .left-content{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}


.header-container .right-content{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: 10px;
}

.header-container .right-content a
{
    text-decoration: none;
    font-size:18px ;
    color: #e5e7eb;
    white-space: nowrap;
    flex-wrap: wrap-reverse;
}
/* end of  header stlying*/

/* Hero Content css */
.hero-content{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.hero-left .title-text{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    max-width: 500px;
}

.hero-left .text-description{
    font-size: 18px;
    color: #e5e7eb;
    max-width: 400px;
    }

/* Just display purposes */
.hero-right{
    
    max-width: 500px;
    height: 200px;
    text-align: center;
    align-content: center;
    background-color: gray;
   
}

/* IMG widh and height constrains */
.hero-right img
{
     width: 100%;
    height: 100%;
}

/* end of Hero content styling */

/* Info Section Starts */
.info-container{
display: flex;
flex-direction: column;

}


.information-header{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 40px;
}
/*  Main container for main text located here */
.info-main{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    
}
/*  Info block text */
.info .text{
    margin-top: 10px;
}
.info{
    width: 200px;
    

}



.info img{
    width: 100%;
    height: 100%;
}
/* JUST FOR DISPLAY */
.info-box{
    
    max-width: 200px;
    height: 200px;
    text-align: center;
    align-content: center;
    background-color: gray;
   
}